html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}

.primera_linea {
  display: block;
}
.segona_linea {
  display: block;
}
.tercera_linea {
  display: block;
}
.ultima_linea {
  display: block;
}
#play5{
  text-align: center;
  display: inline-block;
  margin-left: 230px;
}
#mandoPlay5{
  text-align: center;
  display: inline-block;
  margin-left: 200px;
}
#juegoPs5{
  text-align: center;
  display: inline-block;
  margin-left: 240px;
}
#play4{
  text-align: center;
  display: inline-block;
  margin-left: 200px;
}
#xboxX{
  text-align: center;
  display: inline-block;
  margin-left: 100px;
}
#nintendoSwitch{
  text-align: center;
  display: inline-block;
  margin-left: 120px;
}
#mandoPlay4{
  text-align: center;
  display: inline-block;
  margin-left: 200px;
}
#mandoXboxX{
  text-align: center;
  display: inline-block;
  margin-left: 115px;
}
#mandoNintendoSwitch{
  text-align: center;
  display: inline-block;
  margin-left: 150px;
}
#juegoPs4{
  text-align: center;
  display: inline-block;
  margin-left: 275px;
}
#juegoXboxX{
  text-align: center;
  display: inline-block;
  margin-left: 275px;
}
#juegoNintendoSwitch{
  text-align: center;
  display: inline-block;
  margin-left: 260px;
}
