html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
.primera_linea {
  display: block;
}
.segona_linea {
  display: block;
}
#play5{
  text-align: left;
  display: inline-block;
  text-align: right;
  margin-left: 100px;
}
#mandoPlay5{
  text-align: center;
  display: inline-block;
  text-align: center;
  margin-left: 100px;
}
#juegoPs5{
  text-align: right;
  display: inline-block;
  text-align: right;
  margin-left: 100px;
}
#play4{
  text-align: right;
  text-align: left;

}
#xboxX{
  text-align: center;
  text-align: center;

}
#nintendoSwitch{
  text-align: right;
  text-align: right;

}
#mandoPlay4{
  text-align: left;
  display: inline-block;
  text-align: center;
  margin-left: 40px;
}
#mandoXboxX{
  text-align: center;
  display: inline-block;
  text-align: center;
  margin-left: 100px;
}
#mandoNintendoSwitch{
  text-align: right;
  display: inline-block;
  text-align: center;
  margin-left: 100px;
}
#juegoPs4{
  text-align: left;
  display: inline-block;
  text-align: center;
  margin-left: 100px;
}
#juegoXboxX{
  text-align: center;
  display: inline-block;
  text-align: center;
  margin-left: 100px;
}
#juegoNintendoSwitch{
  text-align: right;
  display: inline-block;
  text-align: center;
  margin-left: 100px;
}

